.container {
    background-color: white;
    border-radius: 20px;
    padding: 50px;
    width: 900px;
    min-height: 570px;
}

.header{
    display: flex;
    justify-content: space-between;
    margin: 25px 10px;
}

.header-text{
    color: #20222a;
    font-weight: 500;
}

.register-btn{
    background-color: #20222a;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    transition: 0.5s;
    padding: 10px;
    outline: none;
}

.register-btn:hover{
    background: #353946;
    transition: 0.5s;
}

table th {
    background: #bfbfbf;
    text-align: left;
}

th, td {
    line-height: 35px;
}

.table-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.table-clientes{
    width: 100%;
}

.btn-detail{
    background-color: #33cc33;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
    margin-right: 10px;
    outline: none;
}

.btn-delete{
    background-color: #ff0000;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
    margin-right: 10px;
    outline: none;
}
