.Container {
    background-color: white;
    border-radius: 20px;
    padding: 50px;
    width: 500px;
}

.Container h1 {
    margin-bottom: 15px;
}

.linha {
    width: 100%;
    padding: 10px;
}

.voltar-btn{
    background-color: #20222a;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    transition: 0.5s;
    padding: 10px 25px;
    outline: none;
}

.voltar-btn:hover{
    background: #353946;
    transition: 0.5s;
}